.breadcrumbs {
  display: flex;
  gap: 0.35rem;
  border-bottom: 1px solid grey;
  align-items: center;
  margin: 10px auto;
  padding-bottom: 10px;
  font-family: "oswald";

  overflow: hidden;
  white-space: nowrap;

  &__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  &__link:hover {
    cursor: pointer;
  }
  &__angle {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  &__active {
    margin: 0;
  }
}
