.btn {
  max-width: 120px;
  box-shadow: 1px 1px 5px black;
  border: 1px solid black;
  margin: auto;
}

.card-action__delete:hover,
.card-action__edit:hover {
  cursor: pointer;
}

.top-container__btns {
  margin: 1rem auto;
}
.top-container__btns > * {
  height: 62px;
  width: 120px;
}

.search-form__btn {
  background-color: none;
  border: none;

  padding: 0;
}
