.btn {
  // max-width: 120px;
  box-shadow: 1px 1px 5px black;
  border: 1px solid black;
  margin: auto;
}

.card-action__delete:hover,
.card-action__edit:hover {
  cursor: pointer;
}

.top-container__btns {
  margin: 1rem auto;
  gap: 1rem;
  display: flex;
}
.top-container__btns > * {
  height: 62px;
  width: 120px;
}

.search-form__btn {
  background-color: none;
  border: none;

  padding: 0;
}

.btn-container > * {
  font-size: 1rem;
  // height: 52px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.btn-cart--add {
  padding: 1rem 3.78rem;
  // background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  background: linear-gradient(to right, #75ad27 5%, #588a1b 95%);
  // background: rgb(80, 255, 64);
  // background: linear-gradient(24deg, rgba(80, 255, 40, 0.9) 0%, rgba(19, 222, 22, 0.9) 100%);
  color: white;
}
.btn-cart--remove {
  color: white;
  background-color: $error-color;
}

.cancel {
  background-color: white;
  color: black;
}
