.login-form {
  justify-content: center;
  border: 1px solid grey;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 20px;
  width: 100%;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.03);
  //   &__email-container {
  //     position: relative;
  //   }
}

// label {
//   position: absolute;
//   left: 6%;
//   padding: 0px 10px;
//   background-color: white;
//   top: -20%;
//   font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// }

input {
  padding: 5px;
  border-radius: 20px;
  height: 50px;
  max-width: 300px;
  border: 1px solid black;
  background-color: white;
}

#search,
.modal-form > * {
  border-radius: 0px;
  border: 2px solid $primary-color;
  width: 300px;
}

.fa-magnifying-glass {
  font-size: 1.2rem;
  margin-left: -2rem;
  cursor: pointer;
  margin: auto 0px auto -2rem;
  border-left: 1px solid $primary-color;
  height: 50px;
  padding: 5px;
  display: flex;
}
.fa-magnifying-glass::before {
  margin: auto;
}

.error-message {
  font-style: italic;
  color: $error-color;
  //   opacity: 0;
  visibility: hidden;
}
.error {
  border: 1px solid $error-color;
}

.search-form {
  margin: 1rem auto;
  display: flex;
}
