.login-form {
  justify-content: center;
  border: 1px solid grey;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  width: 100%;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.03);
  //   &__email-container {
  //     position: relative;
  //   }
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  & input[type="text"] {
    font-size: 0.85rem;
  }
  & > * {
    display: flex;
  }
  & div {
    display: flex;
    flex-direction: column;
    & label {
      text-align: left;
      margin-bottom: 0.2rem;
    }
  }
}
.form-check {
  margin: 1rem auto;
  display: flex;
  flex-direction: row !important;
  gap: 1rem;
  &__input {
    height: 25px;
    width: 25px;
  }
}

// label {
//   position: absolute;
//   left: 6%;
//   padding: 0px 10px;
//   background-color: white;
//   top: -20%;
//   font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// }

input {
  padding: 5px;
  border-radius: 10px;
  // height: 50px;
  max-width: 300px;
  border: 1px solid black;
  background-color: white;
}

label {
  color: black;
}

#search > * {
  border-radius: 0px;
  border: 2px solid $primary-color;
  width: 300px;
}

.fa-magnifying-glass {
  font-size: 1.2rem;
  margin-left: -2rem;
  cursor: pointer;
  margin: auto 0px auto -2rem;
  border-left: 1px solid $primary-color;
  height: 50px;
  padding: 5px;
  display: flex;
}
.fa-magnifying-glass::before {
  margin: auto;
}

.error-message {
  font-style: italic;
  color: $error-color;
  //   opacity: 0;
  visibility: hidden;
}
.error {
  border: 1px solid $error-color;
}

.search-form {
  // padding: 5px;
  margin-right: 10px;
  margin: 1rem auto;
  display: flex;
  position: relative;
  align-content: center;
  &__x {
    position: absolute;
    right: 27px;
    top: 12%;
    padding: 5px;
    background-color: white;
    visibility: hidden;
    &:hover {
      cursor: pointer;
    }
  }
  &__input {
    border-radius: 5px;
    margin-right: 1.5rem;
    padding-right: 2rem;
    border-color: $primary-color;
    // width: 100%;
    // height: 100%;
  }
}
