.shipping-info {
  background-color: $primary-color;
  width: 100%;
  color: black;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  &__text {
    font-size: 0.9rem;
    margin: 0px;
  }
}

.fa-truck {
  font-size: 1.3rem;
}

/* clip-path: polygon(0 0, 100% 0, 59% 100%, 0 100%);*/
// .hero-container {
//   height: 650px;
//   width: 100%;
//   position: relative;
//   display: flex;
// }

.hero-info {
  // height: 650px;
  // position: absolute;
  // width: 450px;
  background-color: #f9d5a7;
  // clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
  // z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  &__header {
    font-family: "fragile bombers", "Oswald", sans-serif;
    padding: 0.4rem;
  }
  &__text {
    padding: 0.4rem;
    font-family: "quicksand", sans-serif;
    font-weight: bold;
  }
  &__button {
    margin: auto;
    display: flex;
    // background-color: $primary-color;
    background: linear-gradient(to right, $primary-color 5%, #ef8b0855 95%);
    background: rgb(255, 216, 165);
    background: linear-gradient(180deg, rgba(255, 216, 165, 1) 0%, rgba(255, 182, 88, 1) 50%, rgba(255, 147, 0, 1) 100%);
    color: black;

    transition: all 0.4s;
    &:hover {
      scale: 1.05;

      border: 1px solid black;
      color: black;
    }
  }

  & a {
    width: 166px;
    margin: auto;
    padding: 0px;
    text-decoration: none;
  }
}

// .hero-image {
//   // height: 650px;
//   width: 100%;
//   height: 100%;
// }
.hero-container {
  position: relative;
}
.hero-image-container {
  &__image {
    width: 100%;
    height: 100%;
    // height: 250px;
  }
}
.featured,
.un-featured {
  justify-content: center;
}

@media (min-width: 445px) {
  .fa-truck {
    font-size: 1.8rem;
  }
  .shipping-info__text {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) {
  .hero-info {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -15%;
    left: 50%;
    gap: 0.5rem;
    background: #000000c2;
    border-radius: 15px;
    &__header,
    &__text {
      color: white;
      margin: auto;
      // background: #00000085;
      border-radius: 15px;
      padding: 0.5rem;
    }
  }
}

@media (min-width: 1000px) {
  .hero-image-container {
    width: 100%;
    height: 100%;
  }
  .hero-container {
    height: 650px;
    width: 100%;
    position: relative;
    display: flex;
  }
  .hero-info {
    // height: 100%;
    // position: absolute;
    // width: 350px;
    // background-color: #f9d5a7;
    // clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
    // z-index: 1;
    &__header {
      font-size: 2;
    }
  }
}
@media (min-width: 1200px) {
  .hero-info {
    background: none;
    position: relative;
    &__header {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 25rem;
      background: #000000c2;
      left: -90rem;
      width: 370px;
    }
    &__text {
      position: absolute;

      transform: translate(-50%, -50%);
      background: #000000c2;
      left: -92rem;
      top: 31rem;
      height: 65px;
      width: 300px;
    }
    & a {
      position: absolute;
      top: 38rem;
      transform: translate(-50%, -50%);
      left: -93rem;
      width: 250px;
      & button {
        padding: 0.8rem 2rem;
      }
    }
  }
}
