.shipping-info {
  background-color: $primary-color;
  width: 100%;
  color: black;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  &__text {
    font-size: 0.9rem;
    margin: 0px;
  }
}

.fa-truck {
  font-size: 1.3rem;
}

/* clip-path: polygon(0 0, 100% 0, 59% 100%, 0 100%);*/
// .hero-container {
//   height: 650px;
//   width: 100%;
//   position: relative;
//   display: flex;
// }

.hero-info {
  // height: 650px;
  // position: absolute;
  // width: 450px;
  background-color: #f9d5a7;
  // clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
  // z-index: 1;
  padding: 0.5rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  &__header {
    padding: 0.1rem;
  }
  &__text {
    padding: 0.25rem;
  }
  &__button {
    margin: auto;
    display: flex;
    background-color: $primary-color;
    color: black;
  }
  & a {
    text-decoration: none;
  }
}

// .hero-image {
//   // height: 650px;
//   width: 100%;
//   height: 100%;
// }
.hero-container {
  position: relative;
}
.hero-image-container {
  &__image {
    width: 100%;
    height: 100%;
    // height: 250px;
  }
}
.featured,
.un-featured {
  justify-content: center;
}

@media (min-width: 445px) {
  .fa-truck {
    font-size: 1.8rem;
  }
  .shipping-info__text {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) {
  .hero-info {
    position: absolute;
    // transform: translate(-50%, -50%);
  }
}

@media (min-width: 1000px) {
  .hero-image-container {
    width: 100%;
    height: 100%;
  }
  .hero-container {
    height: 650px;
    width: 100%;
    position: relative;
    display: flex;
  }
  .hero-info {
    height: 100%;
    position: absolute;
    width: 350px;
    background-color: #f9d5a7;
    clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
    z-index: 1;
    &__header {
      font-size: 2;
    }
  }
}
