.modal-container {
  background-color: $modal-background;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  border-radius: 20px;
  border: 2px solid black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;

  text-align: center;
  background-color: #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 600px;
  max-height: 75%;
  height: auto;

  &__btns {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    & a {
      display: flex;
      text-decoration: none;
      margin: auto;
    }
  }
  &__header {
    color: black;
  }
}

.cancel,
.confirm {
  height: 60px;
  text-align: center;
}

.fa-triangle-exclamation {
  font-size: 3rem;
  color: red;
}
