.modal-container {
  background-color: $modal-background;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border: 1px solid white;
  text-align: center;
  background-color: black;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 75%;
  &__btns {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cancel,
.confirm {
  height: 50px;
  text-align: center;
}
