// .hamburger {
//   padding: 5px;
//   border: 1px solid black;
// }
header {
  // background: rgb(252, 74, 5);
  // background: linear-gradient(24deg, rgba(252, 74, 5, 0.17) 0%, rgba(126, 37, 3, 0.3) 100%);
  background-color: $nav-footer-color;
}
.hamburger-button {
  border: none;
  background-color: none;
  padding: 0px;
}
.shopping-container {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  border-color: $navbar-light-toggler-border-color;
  border-radius: $navbar-toggler-border-radius;
}
.fa-cart-shopping {
  font-size: 2rem;
}

.hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 1rem;
  &__line {
    opacity: 1;
    transition: all 0.3s;
    height: 5px;
    width: 35px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
  }
}
.hamburger:hover {
  cursor: pointer;
}

.hamburger__line--one {
  top: 20%;
}

.hamburger__line--two,
.hamburger__line--three {
  top: 46%;
}

.hamburger__line--four {
  top: 72%;
}

.rotate-two {
  transform: rotate(-45deg);
}
.rotate-three {
  transform: rotate(45deg);
}
.opacity {
  opacity: 0;
}

.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.cart-info {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff6900;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
}
