.navbar-container {
  position: relative;
}
.navbar-brand img {
  width: 100px;
}
.nav-list {
  display: flex;
  position: absolute;
  right: -140px;
  background-color: white;
  border-left: 6px solid;
  border-bottom: 6px solid;
  border-color: $primary-color;
  padding: 2rem;
  top: 86px;
  flex-direction: column;
  transition: right 0.3s;
  list-style-type: none;
  gap: 2rem;
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.hamburger-button {
  border: none;
  background-color: none;
  padding: 0px;
}

.fa-cart-shopping,
.fa-user {
  display: flex !important;
  font-size: 1.6rem;
  color: black;
  padding: 0px;
  border: 1px solid black;
  background-color: transparent;
  justify-content: center;
  position: relative;
  align-items: center;
  border-color: $navbar-light-toggler-border-color;
  border-radius: $navbar-toggler-border-radius;
  padding: 0.5rem 0.35rem;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.user-container a,
.shopping-container a {
  text-decoration: none;
  border-color: $navbar-light-toggler-border-color;
  border-radius: $navbar-toggler-border-radius;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shopping-container {
  position: relative;
}
.hamburger {
  width: 43px;
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__line {
    opacity: 1;
    transition: all 0.3s;
    height: 4px;
    width: 30px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
  }
}
.hamburger:hover {
  cursor: pointer;
}

.hamburger__line--one {
  top: 20%;
}

.hamburger__line--two,
.hamburger__line--three {
  top: 46%;
}

.hamburger__line--four {
  top: 72%;
}

.rotate-two {
  rotate: (-45deg);
}
.rotate-three {
  rotate: (45deg);
}
.opacity {
  opacity: 0;
}

.icon-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem 1rem 0 auto;
  justify-content: center;
}

.cart-info {
  position: absolute;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  top: -5px;
  right: -3px;
  background-color: #ff6900;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
.icon-container > * {
  display: flex;
  flex-direction: column;
  & p {
    font-size: 0.8rem;
  }
}

.icon-container p {
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
}
.active {
  text-decoration: underline;
}
.nav-item,
.fa-cart-shopping,
.fa-user {
  transition: color 0.2s;
}
.nav-item:hover,
.fa-cart-shopping:hover,
.fa-user:hover {
  color: $primary-color;
}
@media (min-width: 357px) {
  .navbar-brand img {
    width: 100%;
  }
}
@media (min-width: 400px) {
  .icon-container {
    gap: 1rem;
  }
  .user-container a,
  .shopping-container a {
    width: 50px;
    height: 50px;
  }
  .fa-cart-shopping,
  .fa-user {
    font-size: 2rem;
    padding: 0.5rem 0.35rem;
  }
  .fa-user {
    padding: 0.5rem 0.65rem;
  }
  .hamburger {
    width: 50px;
    height: 50px;

    &__line {
      height: 5px;
      width: 35px;
    }
  }
  .nav-list {
    top: 93px;
  }
}
@media (min-width: 700px) {
  .hamburger-container {
    display: none;
  }
  .nav-list {
    position: static;
    right: inherit;
    top: inherit;
    flex-direction: row;
    margin-bottom: 0px;
    background-color: inherit;
    padding: 0px;
    right: 0px;
    margin-left: 1.5rem;
    border: none;
  }
}
