$nav-font: "bebas neue", "cursive", "Open sans";
$primary-font: "Oswald", sans-serif;
$secondary-font: "Open sans", sans-serif;

.nav-item {
  font-family: $nav-font;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-family: $primary-font;
  color: black;
}
p {
  font-family: $secondary-font;
  margin-bottom: 0px;
}

.breadcrumbs__link,
.breadcrumbs__active {
  font-family: $secondary-font;
}
