$nav-font: "bebas neue", cursive, open-sans;
$primary-font: "Oswald", sans-serif;
$secondary-font: "Montserrat", sans-serif;

.nav-item {
  font-family: $nav-font;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-family: $primary-font;
}
p {
  font-family: $secondary-font;
}

.breadcrumbs__link,
.breadcrumbs__active {
  font-family: $nav-font;
}
